<.header>
  New Letters
  <:subtitle>Use this form to manage letters records in your database.</:subtitle>
</.header>

<.letters_form changeset={@changeset} action={~p"/letters"} />

<.back navigate={~p"/letters"}>Back to letters</.back>
